html{
    height: 100%;
}

body{
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

button{
    width: 10rem;
    height: 5rem;
    color: black;
    font-weight: 900;
    border: 1px black;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(39, 2, 148);
    color: white;
}

.hidden{
    background-color: blue;
    display: none;
}